@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/helveticaneue-roman.woff2") format("woff2"), url("../fonts/helveticaneue-roman.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
	font-weight: 900;
	font-display: swap;
}
/*
*{
    border: 1px solid red;
}
/*Обнуляющий стиль - начало*/
*,
*::before,
*::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
li{
    list-style: none;
}
a{
    color: inherit;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
img{
    vertical-align: top;
}
body,html{
    height: 100%;
    line-height: 1;
}
/* Глобальный заголовок */

/* Глобальный подзаголовок */

/*Обнуляющий стиль - конец*/

body{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.384;
	background-color: #1A1A1A;
}
[class*="__container"] {
	max-width: 1110px;
	margin: 0px auto;
	padding: 0px 15px;
}
/* Медиазапросы для контейнера - начало */

@media (max-width: 1110px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 20px 20px;
	}
}
/* Изображения */
._ibg{
	position: relative;
}
._ibg img{
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Медиазапросы для контейнера - конец */
.wrapper{
	overflow: hidden;
	min-height: 100%;
    display: flex;
    flex-direction: column;
	position: relative;
}
/* Общий стиль для кнопок */
.button {
	background-color: #34C759;
	border-radius: 43px;
	display: inline-flex;
	align-items: center;
	min-height: 72px;
	padding: 25px 58px;
	justify-content: center;
	&:hover{
		background-color: #1a1a1a72;
		color: #34C759;
		transition-duration: 0.3s;
		border: 1px solid #34C759;
	}
}
/* Общий стиль для заголовков */
.main-title {

	&__text {
		text-align: center;
		margin-bottom: 30px;
		position: relative;
		&::before{
			position: absolute;
			transform: translate(-50%,-50%);
			left: 50%;
			top: 50%;
			font-weight: 900;
			font-size: 100px;
			line-height: 1.5;
			letter-spacing: 0.2em;
			color: #303030;
			
		}
	}

	&__line {
		max-width: 60px;
		min-height: 2px;
		background-color: #34C759;
		margin: 0 auto;
	}
		
}
.span {

	&__main-title {
		font-size: 36px;
	line-height: 2.5;
	letter-spacing: 0.2em;
	color:#D9D9D9;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	@media (max-width: 800px) {
		font-size: 24px;
	}
	@media (max-width: 600px) {
		font-size: 20px;
	}
	@media (max-width: 525px) {
		font-size: 18px;
	}
	}
}
/* Header начало */
.header {
	position:absolute;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #ffffff1e;
	&__container {
		display: flex;
		min-height: 91px;
		align-items: center;
	}

	&__content {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 15px;
		width: 100%;
		@media (max-width: 600px) {
			row-gap: 10px;
		}
	}

	&__logo {
		display: flex;
		align-items: flex-end;
		@media (max-width: 600px) {
			margin-right: 40px;
		}
	}

	&__menu {
		@media (max-width: 600px) {
			max-height: 40px;
		}
	}
}
.logo {

	&__picture:not(:last-child) {
		margin-right: 8.97px;
		max-width: 25px;
	}

	&__text {
		max-width: 175px;
	}
}
.menu {
	display: flex;

	&__list {
		display: flex;
		column-gap: 50px;
	}

	&__item {
	}

	&__link {
		font-size: 14px;
		font-weight: 700;
		line-height: 6.43;
		color: #ffffff;
		&:hover{
			color: #34C759;
			transition-duration: 0.3s;
		}
	}
}
.list {

	&__item {
	}
}
/* Header конец */
/* Первая часть начало */
.part {

	&__first {
	}
}
.first-part {
	background: linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/main/first-part/placeholder.jpg") right bottom/cover no-repeat;
	border-radius: 6px;
	&__container {
	}

	&__content {
		padding: 171px 10px 401px 10px;
		text-align: center;
		@media (max-width: 600px) {
			padding: 120px 10px 230px 10px;
		}
	}

	&__title {
		&:not(:last-child){
			margin-bottom: 16px;
		}
		font-size: 72px;
		line-height: 1.172;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		@media (max-width: 600px) {
			font-size: 36px;
		}


	}

	&__subtitle {
		&:not(:last-child){
			margin-bottom: 40px;
		}
		max-width: 595px;
		font-size: 16px;
		line-height: 1.625;
		letter-spacing: -0.2px;
		opacity: 0.7;
		text-align: center;
		margin: 0 auto;
		@media (max-width: 600px) {
			font-size: 12px;
		}
	}

	&__button {
		margin: 0 auto;
		&:not(:last-child){
			margin-bottom: 70px;
		}
		font-size: 18px;
		font-weight: 700;
		line-height: 1.21px;
		letter-spacing: 0.2em;
		color:#1A1A1A;
		border: 1px solid transparent;
		text-transform: uppercase;
		@media (max-width: 600px) {
			font-size: 12px;
			min-height: 20px;
		}
	}

	&__description {
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		margin: 0 -20px;
	}

	&__item {
		flex: 1 1 33.333%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		padding: 0px 20px;
		min-width: 300px;
	}

	&__icon {
		flex: 0 1 18px;
		max-width: 18px;
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}

	&__info {
		flex: 1 1 auto;
		line-height: 1.875;
		font-size: 16px;
		@media (max-width: 600px) {
			font-size: 14px;
		}
	}

	&__subinfo {
		line-height: 2;
		font-size: 14px;
		opacity: 0.5;
		@media (max-width: 600px) {
			font-size: 12px;
		}
	}
}
.span {

	&__title {
		font-weight: 700;
	}

	&__subtitle {
		text-transform: uppercase;
	}
}
/* Первая часть конец */
/* Вторая часть начало */
.part {

	&__second {
	}
}
.second-part {
	margin-top: -240px;

	&__container {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
	}

	&__content {
		padding: 105px 65px 90px 65px;
		text-align: center;
		@media (max-width: 600px) {
			padding: 30px 10px 30px 10px;
		}
	}

	&__title {
		position: relative;
		&:not(:last-child){
			margin-bottom: 61px;
			@media (max-width: 600px) {
				margin-bottom: 21px;
			}
		}
		&::before{
			content: "ABOUT";
			position: absolute;
			transform: translate(-50%,-50%);
			left: 50%;
			top: 50%;
			font-weight: 900;
			font-size: 100px;
			line-height: 1.5;
			letter-spacing: 0.2em;
			color: #303030;
			@media (max-width: 800px) {
				font-size: 80px;
			}
			@media (max-width: 600px) {
				font-size: 60px;
			}
			@media (max-width: 525px) {
				font-size: 40px;
			}


		}
	}

	&__subtitle {
		max-width: 734px;
		color: #A6A6A6;
		font-size: 16px;
		line-height: 1.875;
		margin: 0 auto;
		&:not(:last-child){
			margin-bottom: 90px;
			@media (max-width: 600px) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 800px) {
			font-size: 14px;
		}
		@media (max-width: 600px) {
			font-size: 12px;
		}


	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__arrow-left {
		&:not(:last-child){
			margin-right: 61px;
			@media (max-width: 700px) {
				margin-right: 20px;
			}
		}
		flex: 0 0 60px;
		border-radius: 50%;
		height: 60px;
		align-items: center;
		justify-content: center;
	}


	&__arrow-picture {
		@media (max-width: 600px) {
			max-width: 40px;
			height: auto;
		}
	}

	&__image-left {
		&:not(:last-child){
			margin-right: 34px;
			@media (max-width: 700px) {
				margin-right: 20px;
			}
		}
		flex: 0 1 350px;
		padding: 0 0 24.545% 0;
		@media (max-width: 700px) {
			padding: 0 0 40% 0;
		}


	}

	&__image-right {
		&:not(:last-child){
			margin-right: 61px;
		}
		flex: 0 1 350px;
		padding: 0 0 24.545% 0;
		@media (max-width: 700px) {
			display: none;
		}
	}

	&__arrow-right {
		flex: 0 0 60px;
		border-radius: 50%;
		height: 60px;
		align-items: center;
		justify-content: center;
	}
}
.span__second-part-title{
	font-size: 30px;
	letter-spacing: 0.2em;
	line-height: 2;
	color: #D9D9D9;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	@media (max-width: 800px) {
		font-size: 24px;
	}
	@media (max-width: 600px) {
		font-size: 20px;
	}
	@media (max-width: 525px) {
		font-size: 18px;
	}
}
/* Вторая часть конец */
/* Третья часть начало */ 
.part {

	&__third {
		padding: 61px 10px 31px 10px;
		@media (max-width: 600px) {
			padding: 21px 10px 15px 10px;
		}
	}
}
.third-part {

	&__container {
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		row-gap: 40px;
	}

	&__title {
		&:not(:last-child){
			margin-bottom: 60px;
			@media (max-width: 600px) {
				margin-bottom: 20px;
			}
		}
		text-align: center;
	}

	&__items {
		padding: 0px 15px;
		flex: 1 1 25%;
		min-width: 250px;

	}

	&__item {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 24px;
		height: 100%;
		&:hover{
			background-color: #34C759;
			color: #191919;
			transition-duration: 0.3s;
		}
		
	}
}
.title-third-part {
	position: relative;
	&::before{
		content: "WORK";
		position: absolute;
		transform: translate(-48%,-70%);
		left: 50%;
		top: 50%;
		font-weight: 900;
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;
		@media (max-width: 800px) {
			font-size: 80px;
			transform: translate(-48%,-78%);
		}
		@media (max-width: 600px) {
			font-size: 60px;
			transform: translate(-48%,-85%);
		}
		@media (max-width: 525px) {
			font-size: 40px;
			transform: translate(-48%, -100%);
		}
	}

	&__text {
		&:not(:last-child){
			margin-bottom: 61px;
			@media (max-width: 600px) {
				margin-bottom: 30px;
			}
		}
		

	}

	&__line {
		max-width: 60px;
		min-height: 2px;
		background-color: #34C759;
		margin: 0 auto;
	}
}
.item-third-part {

	&__title {
		font-size: 22px;
		line-height: 1.166;
		letter-spacing: -0.28px;
		text-transform: capitalize;
		max-width: 207px;
		&:not(:last-child){
			margin-bottom: 36px;
		}
		&::after{
			content: "";
			display: block;
			max-width: 56px;
			height: 2px;
			background-color: #34C759;
			margin-top: 10px;
		}
		@media (max-width: 800px) {
			font-size: 20px;
		}
		@media (max-width: 600px) {
			font-size: 18px;
		}
		@media (max-width: 525px) {
			font-size: 16px;
		}
	}

	&__text {
		font-size: 13px;
		line-height: 1.385;
		letter-spacing: -0.16px;
		opacity: 0.5;
		max-width: 207px;
		@media (max-width: 600px) {
			font-size: 12px;
		}
	}
}
.span-third-part-title{
	font-size: 36px;
	line-height: 2.5;
	letter-spacing: 0.2em;
	color:#D9D9D9;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	@media (max-width: 800px) {
		font-size: 24px;
	}
	@media (max-width: 600px) {
		font-size: 20px;
	}
	@media (max-width: 525px) {
		font-size: 18px;
	}

}
/* Стили для анимации карточки. По идее переделать. */
.item-third-part:hover .item-third-part__text{
	color:#191919;
	opacity: 1;
}
.item-third-part:hover .item-third-part__title::after{
	background-color: #191919;
	transition-duration: 0.3s;
	max-width: 180px;
}

/* Подумать над выравниванием контента в карточках */
/* Третья часть конец */

/* Четвертая часть начало */ 

/* Четвертая часть конец */
.part {

	&__fourth {
	}
}
.fourth-part {
	padding: 91px 10px 30px 10px;
	@media (max-width: 600px) {
		padding: 21px 10px 15px 10px;
	}

	&__container {
	}
	&__title{
		margin-bottom: 60px;
		@media (max-width: 600px) {
			margin-bottom: 25px;
		}
	}
	&__text {
		&::before{
			content: "DISHES";
			@media (max-width: 800px) {
				font-size: 80px;
				transform: translate(-48%,-50%);
			}
			@media (max-width: 600px) {
				font-size: 60px;
			}
			@media (max-width: 525px) {
				font-size: 40px;
			}
		}
		
		
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
		justify-content: center;
	}

	&__item {
		flex: 1 1 33.333%;
		max-width: 350px;
		padding: 0 15px;
		min-width: 280px;
		&:hover{
			border: 2px solid #34C759;
			transition-duration: 0.2s;
		}
	}

	&__body {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		display: flex;
		flex-direction: column;
	}

	&__link {
		border-radius: 6px 6px 0 0;
		padding: 0 0 75% 0;
		overflow: hidden;
		&::after{
			content: url("../img/main/fourth-part/more.svg");
			position: absolute;
			top: 24px;
			right: 24px;
			width: 40px;
			height: 40px;
		}
	}

	&__image {

	}

	&__description {
		padding: 29px;
	}
}
.description {

	&__title {
		font-size: 32px;
		line-height: 0.938;
		color: #D9D9D9;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 1.333;
		color: #A4A8B2;
		&:not(:last-child){

			margin-bottom: 22px;
			@media (max-width: 600px) {
				margin-bottom: 11px;
			}
		}
	}

	&__text {
		font-size: 13px;
		line-height: 1.385;
		color: #85878C;
		letter-spacing: -0.16px;
		&:not(:last-child){

			margin-bottom: 26px;
			@media (max-width: 600px) {
				margin-bottom: 13px;
			}
		}
	}

	&__info {
		
	}
}
.info-description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__stars {
	}

	&__btn {
		font-weight: 900;
		font-size: 10px;
		line-height: 2;
		letter-spacing: 0.2em;
		color:#ffffff;
		opacity: 50%;
		text-transform: uppercase;
		border-radius: 30px;
		border: 2px solid #303030;
		padding: 10px 20px;
		min-width: 100px;
		text-align: center;
		&:hover{
			color: #252525;
			background-color: #34C759;
			border: 2px solid transparent;
		}
		@media (max-width: 991px) {
			min-width: 80px;
		}
	}
}
.info-description {

	&__stars {
		@media (max-width: 991px) {
			margin-right: 20px;
		}
	}
}
.stars {
	position: relative;
	font-size: 28px;
	display: inline-block;
	&::before{
		content:"★★★★★";
		display: block;
		overflow: hidden;

	}


	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		width: 0%;
		height: 0%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;

	}

	&__label {
		flex: 0 0 20%;
		height: 100%;
		cursor: pointer;
		color: #4d4d4d;
		&::before{
			content:"★";
			display: block;
			transition: color 0.3s ease 0s;
		}

	}
}

.stars__label:hover,
.stars__label:hover ~ .stars__label, 
.stars__label:checked ~ .stars__label:hover{
	color: #F9AD3D;
	opacity: 0.5;
}
.stars__item:checked,
.stars__item:checked ~ .stars__label{
	color: #F9AD3D;
}
/* Разобраться со звездами*/
/*Конец четвертой части*/
/*Начало пятой части*/
.part {

	&__fifth {
	}
}
.fifth-part {
	padding: 61px 10px 30px 10px;
	@media (max-width: 600px) {
		padding: 21px 10px 15px 10px;
	}

	&__container {
	}

	&__text {
		&::before{
			content: "CHEFS";
			@media (max-width: 800px) {
				font-size: 80px;
				transform: translate(-48%,-50%);
			}
			@media (max-width: 600px) {
				font-size: 60px;
			}
			@media (max-width: 525px) {
				font-size: 40px;
			}
		}
	}

	&__content {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
		row-gap: 30px;
		justify-content: center;
	}

	&__item {
		padding: 0px 15px;
		flex: 0 1 33.333%;
		min-width: 350px;
		flex-direction: column;
	}
}
.fifth-part {

	&__title {
		margin-bottom: 60px;
		@media (max-width: 600px) {
			margin-bottom: 30px;
		}
	}
}
.item-object {

	&__chef {
		display: flex;
		align-items: center;
		&:not(:last-child){
			margin-bottom: 24px;
		}
	}

	&__icon {
		flex: 0 0 65px;
		border-radius: 50%;
		overflow: hidden;
		height: 65px;
		align-self: flex-start;
		&:not(:last-child){
			margin-right: 24px;
		}
	}

	&__picture {
	}

	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__name {
		font-size: 18px;
		line-height: 1.166;
		letter-spacing: -0.22px;
		&:not(:last-child){
			margin-bottom: 6px;
			letter-spacing: -0.15px;
		}
	}

	&__description {
		opacity: 50%;
		font-size: 12px;
		line-height: 1.333;
		flex: 1 1 auto;
	}

	&__food {
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;

	}
}
.food {

	&__picture {
		border-radius: 2px;
		padding: 0 0 20% 0;
		overflow: hidden;
		flex: 1 1 33.333%;
		max-width: 65px;
	}

	&__image {
	}
}
/*Можно подумать про оптимизацию добавления карточек разных размеров*/
/*Конец пятой части*/
/* Начало шестой части */
.part {

	&__sixth {
	}
}
.sixth-part {
	padding: 100px 10px;
	@media (max-width: 600px) {
		padding: 30px 10px;
	}

	&__container {
	}

	&__title {
		margin-bottom: 60px;
		@media (max-width: 600px) {
			margin-bottom: 30px;
		}
	}

	&__text {
		&::before{
			content: "RECIPES";
			@media (max-width: 800px) {
				font-size: 80px;
				transform: translate(-48%,-50%);
			}
			@media (max-width: 600px) {
				font-size: 60px;
			}
			@media (max-width: 525px) {
				font-size: 40px;
			}
		}
	}

	&__content {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
		row-gap: 20px;
		justify-content: center;
	}

	&__item {
		flex: 1 1 50%;
		padding: 0 15px;
		display: flex;
		row-gap: 20px;
		flex-direction: column;
	}
}

.six-part {

	&__item {

		&_big {
		}
	}
}
.sixth-part-element {

	&__big {
	}

	&__small {
		display: flex;
		flex-direction: column;
		background-color: #252525;
		border-radius: 6px;
		padding: 30px 30px 20px 30px;
		max-width: 540px;
		margin: 0 auto;
	}
}
.big-element-sixth-part {
	border-radius: 6px;
	background-color: #303030;
	max-width: 540px;
	margin: 0 auto;


	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__link {
		align-self: flex-end;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #00000030;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__body {
		padding: 60px 90px;
		margin-top: -60px;
		@media (max-width: 600px) {
			padding: 20px 30px;
			margin-top: 0px;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 10px;
		line-height: 1.5;
		letter-spacing: 1.25px;
		padding: 2px 16px;
		min-height: 25px;
		background-color: #00000030;
		border-radius: 4px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&:not(:last-child){
			margin-bottom: 65px;
			@media (max-width: 600px) {
				margin-bottom: 30px;
			}
		}

	}

	&__date {
		&:not(:last-child){
			margin-bottom: 25px;
			@media (max-width: 600px) {
				margin-bottom: 12px;
			}
		}
		font-size: 14px;
		line-height: 2.14;
		@media (max-width: 800px) {
			font-size: 12px;
		}
	}

	&__text {
		&:not(:last-child){
			margin-bottom: 45px;
			@media (max-width: 600px) {
				margin-bottom: 20px;
			}
		}
		font-size: 24px;
		line-height: 1.67;
		@media (max-width: 800px) {
			font-size: 20px;
		}
		@media (max-width: 600px) {
			margin-bottom: 18px;
		}
	}

	&__author {
		&:not(:last-child){
			margin-bottom: 60px;
			@media (max-width: 600px) {
				margin-bottom: 20px;
			}
		}
		font-size: 14px;
		line-height: 2.14;
	}
}
.big-element-six-part {

	&__pic {
	}
}
.block-small-element {

	&__info {
		display: inline-flex;
		column-gap: 24px;
		font-weight: 700;
		font-size: 12px;
		line-height: 2.5;
		align-items: center;
	}

	&__box {
		&:not(:last-child){
			margin-right: 15px;
		}
		display:inline-flex;
		align-items: center;
	}

}
.info-block-small-element {

	&__views {
	}

	&__comments {
	}
}
.views {
	display: inline-flex;
	align-items: center;
	&__icon {
		width: 26px;
		&:not(:last-child){
			margin-right: 14px;
		}
	}

	&__number {
		&:not(:last-child){
			margin-right: 14px;
		}
	}
}
.comments {
	display: inline-flex;
	align-items: center;
	&__icon {
		width: 26px;
		&:not(:last-child){
			margin-right: 14px;
		}
	}

	&__number {
		&:not(:last-child){
			margin-right: 14px;
		}
	}
}
.small-element {
	min-width: 350px;

	&__text {
		font-size: 16px;
		line-height: 1.875;
		@media (max-width: 600px) {
			font-size: 12px;
		}
	}

	&__block {
		&:not(:last-child){
			margin-right: 15px;
		}
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
	}
}
.block-small-element {

	&__link {
		font-size: 10px;
		line-height: 1.5;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		background-color: #000000ce;
		border-radius: 4px;
		display:inline-flex;
		align-items: center;
		justify-content: center;
		padding: 2px 16px;
		min-height: 25px;
		
		&:not(:last-child){
			margin-right: 15px;
		}
	}

	&__data {
		font-size: 12px;
		line-height: 2.08;
		color: #b3b3b3;
		@media (max-width: 600px) {
			font-size: 10px;
		}

	}
	
}





